body{
    overflow-x: hidden;
}


.CookieDeclaration{
    height: 5vh;
    overflow-y: auto;
}
strong{
   font-size: 2.7rem;
}

.widget-full{
    padding: 12rem 7rem 7rem 7rem;
}


.container-standard{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 26.4px;
    background-color: #00082b;
    color: white;
}

.title-main{
    color: white;
}
.contact-newsletter{
    background-color: #00082b !important;
}

a>.instagram{
    background-color: #00082b;
}

@media only screen and (max-width: 700px) {
    .widget-full {
padding: 0;    }
  }