.contact-legals{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}



.widget-full{
    padding: 12rem 7rem 7rem 7rem;
}

.container-standard{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 26.4px;
    background-color: #00082b;
    color: white;
}

.title-main{
    color: white;
}
.contact-newsletter{
    background-color: #00082b !important;
}