.contact-legals{
    display: flex;
    height: 10vh;
    justify-content: center;
}

.contact-newsletter{
    height: 80vh;
}

.widget-full{
    padding: 12rem 7rem 7rem 7rem;
}

.container-standard{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 26.4px;
    background-color: #00082b;
    color: white;
}

.title-main{
    color: white;
}
.contact-newsletter{
    background-color: #00082b !important;
}