body {
  width: 100vw !important;
  overflow-x: hidden !important;
}
#testimonials-mobile {
  display: none;

  padding: 0;
}
#testimonials-mobile > div {
  display: none;
}
#features > img {
  display: none;
}
#hero {
  height: auto;
}
#contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#testimonials {
  height: auto;
}

#hero > div.banner_hero > img {
  width: 100%;
}
#hero > div.banner_hero > img:nth-child(2) {
  display: none;
}
#banner_hero {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
#features_list_1 {
  width: 40%;
}

#testimonial_carousel > div.owl-dots {
  display: none;
}
.video-sec {
  background-image: url("/images/back.png");
  background-size: cover;
  padding: 50px;
}
#hero_btn {
  background: none;
  background-color: white;
}
#features {
  background-image: url("/images/sec-5.svg");
  background-size: 100vw auto;
  height: 100vh;
}

body
  > section.widget-full.contact-wrapper
  > div.contact-newsletter
  > div
  > div
  > form
  > button {
  background: white;
  color: black;
}

#reused_form > button {
  background: white;
  color: black;
}

#testimonials {
  height: 90vh;
  border-top: 2rem #000 solid;
  border-bottom: 2rem #000 solid;
  padding: 0;
  background-size: cover;
}

/* body > section.widget-full.contact-wrapper > div.contact-newsletter > div > div > div:nth-child(2){
    position: absolute;
    margin-top: 7%;
    left: 2%;
} */

.nav-wrapper .nav-item.button-nav {
  margin: 0;
}
#navigation_items > li.nav-item.button-nav {
  margin: 0 3% 0 19%;
}
.language-btn {
  cursor: pointer;
}
body > section:nth-child(4) {
  border-bottom: 2rem #000 solid;
}

#features > div {
  display: block;
}
#features > div > h2 {
  margin-bottom: 5%;
  color: white;
}
#features > div {
  padding-left: 5%;
}
#testimonials > div {
  padding: 0 !important;
}

#testimonial_carousel > div.owl-stage-outer > div > div > div > div {
  position: absolute;
  top: 30%;
  color: white;
  left: 10%;
}
#testimonial_carousel
  > div.owl-stage-outer
  > div
  > div.owl-item.active
  > div
  > div
  > h2 {
  margin-bottom: 20px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
}
#testimonial_carousel
  > div.owl-stage-outer
  > div
  > div.owl-item.active
  > div
  > div
  > h3 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
}
#testimonial_carousel
  > div.owl-stage-outer
  > div
  > div.owl-item.active
  > div
  > div
  > div {
  position: absolute;
  height: 50px;
  top: 70%;
  width: 2px;
  left: -1.5%;
  background: white;
}
#testimonial_carousel
  > div.owl-stage-outer
  > div
  > div:nth-child(8)
  > div
  > div
  > div {
  height: 40%;
  top: 65%;
}
#testimonial_carousel
  > div.owl-stage-outer
  > div
  > div.owl-item.active
  > div
  > div {
  width: 40%;
}

#testimonials > div {
  max-width: 100%;
}

.hero-partners > div {
  width: 50%;
}

#hero > div.owl-carousel.owl-theme.hero-carousel-desktop.owl-loaded.owl-drag {
  height: 85%;
}
#features {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
}

@media only screen and (max-width: 1900px) {
  #hero_btn {
    margin-top: 60% !important;
  }

  #hero_btn {
    margin-top: 60% !important;
  }
  body > div.ad {
    padding-top: 53%;
  }
}
@media only screen and (max-width: 1920px) {
  #hero_btn {
    margin-top: 50%;
  }
}
@media only screen and (max-width: 1800px) {
  body > div.ad {
    padding-top: 36%;
  }
  #hero_btn {
    margin-top: 60%;
  }
}
@media only screen and (max-width: 1700px) {
  body > div.ad {
    padding-top: 39%;
  }
}
@media only screen and (max-width: 1600px) {
  body > div.ad {
    padding-top: 54%;
  }
  #hero_btn {
    margin-top: 50%;
  }
}
@media only screen and (max-width: 1400px) {
  #hero_btn {
    margin-top: 45%;
  }
}

@media only screen and (max-width: 1300px) {
  #hero_btn {
    margin-top: 40%;
  }

  body > div.ad {
    padding-top: 57% !important;
  }
}
@media only screen and (max-width: 1200px) {
  #hero_btn {
    margin-top: 36%;
  }

  body > div.ad {
    padding-top: 64% !important;
  }
  #testimonials {
    border-top: none;
  }
  #testimonials > div {
    height: 100%;
  }
  #testimonials > div > div {
    height: 100%;
  }
  #testimonials > div > div > div {
    height: 100%;
  }
  #testimonials > div > div > div > div {
    height: 100%;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div {
    height: 100%;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div > img {
    height: 100%;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div {
    height: 100%;
  }
  .ad > img {
    margin-top: -20% !important;
  }
  #navigation_items > li.nav-item.button-nav {
    margin: 0 10% 0 3%;
  }
}
@media only screen and (max-width: 1100px) {
  #hero_btn {
    margin-top: 33%;
  }
  .ad > img {
    margin-top: -22% !important;
  }
  .ad {
    padding-top: 65% !important ;
  }
}
@media only screen and (max-width: 1000px) {
  #contact {
    padding: 0;
  }
  #testimonial_carousel
    > div.owl-stage-outer
    > div
    > div.owl-item.active
    > div
    > div
    > div {
    top: 75% !important;
  }

  #reused_form > button {
    margin-bottom: 0;
  }
  body > div.ad {
    padding-top: 63%;
  }
  #hero_btn {
    width: 200px;
    left: 85%;
  }
  #hero {
    background: none;
  }

  #hero > div.hero-copy > div {
    width: 150px;
  }
  body
    > section.widget-full.contact-wrapper
    > div.contact-newsletter
    > div
    > div
    > div:nth-child(2) {
    margin-top: 4%;
  }

  #navigation_items > li.nav-item.button-nav {
    margin: 0 5% 0 10%;
  }

  #hero > div.owl-carousel.owl-theme.hero-carousel-desktop.owl-loaded.owl-drag {
    padding-top: 0;
  }
  .hero-wrapper .hero-carousel-desktop {
    margin-top: 0 !important;
  }
  #features_list_1 {
    width: 40%;
  }
}
@media only screen and (max-width: 920px) {
  #hero > div.banner_hero > img {
    height: 115%;
  }
  .ad {
    padding-top: 58%;
  }
}
@media only screen and (max-width: 800px) {
  #navigation_items > li.nav-item.button-nav {
    margin: 0 0 0 15%;
  }
  #nav_contact {
    width: 150px;
  }

  #navigation_items > li.nav-item.button-nav {
    margin: 0 !important;
  }
  #navigation_items > li.nav-item.button-nav {
    margin: 0 3% 0 10%;
  }
  body
    > section.widget-full.contact-wrapper
    > div.contact-newsletter
    > div
    > div
    > div:nth-child(2) {
    margin-top: 5%;
  }
  #hero_btn {
    margin-top: 130%;
    width: 50%;
  }
  #hero {
    height: auto;
  }
  #hero > div.owl-carousel.owl-theme.hero-carousel-desktop.owl-loaded.owl-drag {
    padding-top: 0;
  }
  .hero-wrapper .hero-carousel-desktop {
    margin-top: 0 !important;
  }
  #hero_btn {
    width: 200px;
  }

  #testimonials {
    border-bottom: none;
  }
  #testimonials > div {
    border-bottom: 3rem #000 solid;
  }
  body > div.ad {
    padding-top: 66%;
  }
}
@media only screen and (max-width: 700px) {
  #hero_btn {
    margin-top: 160%;
  }
  #reused_form {
    width: 100% !important;
  }
}
@media only screen and (max-width: 600px) {
  #features > img:nth-child(1) {
    display: none;
  }
  #hero > div.banner_hero > img:nth-child(1) {
    display: none;
  }
  #hero > div.banner_hero > img:nth-child(2) {
    display: block;
  }
  #hero_btn {
    width: 200px !important;
    margin-top: 300% !important;
    margin-left: -33px;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div > img {
    height: 60vh;
    width: 100%;
  }
  #contact {
    padding: 0;
  }

  body
    > section.widget-full.contact-wrapper
    > div.contact-newsletter
    > div
    > div
    > div:nth-child(2) {
    margin-top: 6%;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div > div > div {
    display: none;
  }
  #hero_btn {
    margin-top: 150%;
  }
  #navigation_items > li.nav-item.button-nav {
    margin: 0 3% 0 10%;
  }
  #contact {
    background-repeat: no-repeat;
    background-position: center center;
  }
  body
    > section.widget-full.contact-wrapper
    > div.contact-newsletter
    > div
    > div
    > div:nth-child(2) {
    margin-top: 10%;
  }
  body > div.ad {
    display: none;
  }
  #features {
    height: 120vh;
    background-size: cover;
    background-position-x: 77%;
    padding: 0;
    height: auto;
    background: url("/images/slider-back.png");
  }
  #features > img {
    display: block;
    width: 100%;
  }
  #features_list_1 {
    width: 100%;
  }

  /* #testimonials {
    height: auto;
  } */
  #testimonial_carousel > div.owl-stage-outer > div > div > div > div {
    top: 10%;
  }
  body > section:nth-child(4) > iframe {
    width: 100%;
    margin: 0;
  }
  /* #testimonial_carousel > div.owl-stage-outer > div > div.owl-item.active > div > img{
    display: none;
} */

  #hero {
    height: auto;
  }
  #hero > div.owl-carousel.owl-theme.hero-carousel-desktop.owl-loaded.owl-drag {
    padding-top: 0;
  }
  .hero-wrapper .hero-carousel-desktop {
    margin-top: 0 !important;
  }
  #hero_btn {
    width: 50%;
  }
  #testimonials {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  #hero_btn {
    left: 33% !important;
  }
}

section {
  display: block !important;
  height: auto;
}
#navigation_items > li.nav-item.language-btn {
  display: contents;
}
#navigation_items > li.nav-item.language-btn > span {
  margin-top: 1%;
}

#hero > div.hero-copy {
  width: 100%;
  height: 100%;
}

#hero > div.hero-copy > div {
  width: 100%;
  height: 100%;
}
#hero > div.banner_hero {
  width: 100%;
  height: 100%;
}
#hero > div.banner_hero > img:nth-child(1) {
  width: 100%;
  height: 100%;
}
#hero > div.hero-copy > div > a {
  position: absolute;
  bottom: 10%;
  left: 39%;
}

#contact > div > div > div:nth-child(2) {
  margin-bottom: 0;
}
#reused_form {
  width: 50%;
}

body
  > section.widget-full.contact-wrapper
  > div.contact-newsletter
  > div
  > div {
  display: contents;
}

#testimonials {
  height: 110vh;
}
#testimonials > div {
  height: 110vh;
}
#testimonial_carousel {
  height: 110vh;
}
#testimonial_carousel > div.owl-stage-outer {
  height: 100%;
}
#reused_form > button {
  margin-bottom: 20px;
}

#nav_contact {
  background: #ffffff;
  opacity: 0.6;
  border-radius: 80px;
  color: black;
  border-color: white;
}

@media only screen and (max-width: 599px) {
  #testimonials-mobile {
    display: block !important;
  }
  #testimonials-mobile > div {
    display: block !important;
  }
  #testimonials-mobile {
    height: 100vh;
  }
  #testimonials-mobile > div {
    height: 100vh;
  }
  #testimonial_carousel {
    height: 100vh;
  }
  #testimonial_carousel > div {
    height: 100vh;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div:nth-child(4) {
    background: url("/images/ProductMobile1.png");
    height: 100vh;
    width: 100vw;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div:nth-child(5) {
    background: url("/images/ProductMobile2.png");
    height: 100vh;
    width: 100vw;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div:nth-child(6) {
    background: url("/images/ProductMobile3.png");
    height: 100vh;
    width: 100vw;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div:nth-child(7) {
    background: url("/images/ProductMobile4.png");
    height: 100vh;
    width: 100vw;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div:nth-child(8) {
    background: url("/images/ProductMobile5.png");
    height: 100vh;
    width: 100vw;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div:nth-child(9) {
    background: url("/images/ProductMobile1.png");
    height: 100vh;
    width: 100vw;
  }

  #testimonials-mobile {
    padding: 0;
  }
  #testimonials-mobile > div {
    padding: 0 15px !important;
  }
  #testimonial_carousel {
    height: auto !important;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div > div {
    width: 80% !important;
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div > div >h2 {
    font-size: 38px !important; 
  }
  #testimonial_carousel > div.owl-stage-outer > div > div > div > div {
    top: 6%;
  }
}
#testimonials-mobile > div {
  padding: 0 !important;
}
