$white:#FFF;
$black:#000;
$black-shadow:rgba(0,0,0,0.2);
$black-standard:#0F0F0F;
$black-text:#1E1E1E;

$gray-bg:#F0F1F3;
$red:#EC484F;

$purple3:#0D4C63;


$blue-knight:#171A37;
$black-blue:#00082B;
$green-onsen:#67EDBA;

