
.footer-wrapper{
    padding:60px 0 130px;
    background:#0D4C63;

    .footer-content{
        display: flex;
        flex-direction: row;

        .footer-logo{
            width:104px;
            margin-right: auto;

            img{
                width:100%;
            }

        }

        .footer-redes{
            display: flex;
            flex-direction: row;
            margin-left:auto;

            .footer-redes-item{
                margin-left:10px;
            }

        }

    }
   
    @media (max-width:$screen-md){

        padding:30px 0;

    }

}
