.header-wrapper{
    width:100%;
    height:128px;
    position:fixed;
    @include transition(300ms ease-out);
    z-index: 10;
    background:rgba($blue-knight, 0);
    display:flex;
    flex-direction: row;
    align-items: center;
    

    &.sticky-on{
        background:rgba($blue-knight, 1);
        height:80px;
    }

    .header-logo{
        width: 102px;
        flex:102px 0;
        margin-right:90px;

        img{
            width:100%;
        }

    }

    .header-content{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content:stretch;
    }

    
    @media(max-width:1024px){

        

    }

    @media (max-width:$screen-md){
        height:80px;
        position: absolute;
        top:0;
        left:0;

        .header-content{

            
            .nav-menu{
                position: absolute;
                right:15px;
            }
    
        }

    }

}

.nav-wrapper{
    flex:1;
    display: flex;
    flex-direction: row;


    .nav-item{
        font-size:18px;
        color:$white;
        @include transition(400ms ease-out);
        margin-right:50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.button-nav{
            margin-left:auto;
            margin-right:0;

            .button-main{
                width:190px;
                border:2px solid #BCF3FF;
                color:$white;
                background:rgba($black-blue, 0.6);
                line-height:35px;

                &:hover{
                    @include transform(translateY(0));
                }
            }
        }

        &.nav-close{
            position: absolute;
            top:30px;
            right:15px;
            display:none;
        }

        &:hover{
            opacity:0.7;
        }

        &:last-child{
            margin-right: none;
        }
        

    }
        


    @media (max-width:$screen-md){
        width:100%;
        height:100%;
        position:fixed;
        z-index:12;
        top:0;
        left: -100%;
        background:$blue-knight;
        @include transition(400ms ease-in);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: auto;
        padding-top:100px;

        &.active{
            left:0;
        }

        .nav-item{
            margin:0 auto 15px 30px;
            font-weight:700;
            font-size:40px;
            text-transform: uppercase;
            text-align: left;


            &.nav-close{
                display:block;
            }

            &.button-nav{
                margin:auto auto 30px 30px;
                width:calc(100% - 60px);
                
                .button-main{
                    width:100%;
                }
            }

        }
        
    }

}