/* RESPONSIVE */
$screen-xxxl: 1440px;
$screen-xxl: 1300px;
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-xs: 480px;
$screen-xxs: 330px;

$main-margin: 10px;
$double-margin: $main-margin * 2;

$body-padding-top:159px;

$intro-info-width:680px;
$success-info-width:500px;



$font-sourcesanspro:'Source Sans Pro', sans-serif;
$font-roboto:'Roboto', sans-serif;



